/* Small devices */

@media screen  and (max-width: 600px){

    /* header section */

    header{
        margin: 1rem auto;
    }

    nav{
        padding-bottom: 0;
    }

    .nav-items{
        display: none;
    }

    .nav-logo{
        padding: 0 1rem;
    }

    .nav-logo h1{
        font-size: 1.5rem;
    }

    .banner{
        margin: 1rem;
        background-size: cover;
    }

    .banner-text{
        padding: 2rem 1rem;
    }

    .banner-text h1{
        font-size: 1.5rem;
    }

    .banner-text p{
        font-size: 0.9rem;
        line-height: 1.5rem;
    }

    .banner-form{
        flex-direction: column;
        max-width: 75%;
    }

    .banner-form .banner-input{
        margin: 0.5rem;
        width: 16rem;
    
    }

    /* popular tour section */

    .popular-tours{
        flex-direction: column;
    }

    section{
        padding: 1rem;
        margin: 0.5rem auto;
    }

    .tour-text{
        /* padding: 1rem; */
        box-sizing: border-box;
    }

  

    .section-title{
        font-size: 1.25rem;
    }

    .section-text{
        font-size: 0.9rem;
    }

    section img{
        width: 100%;
       
    }

    /* destination section */

    .row{
        flex-direction: column;
        justify-content: center;
        height: auto;
        margin-bottom: 0;
    
    }

    .img-box{
        width: 373px;
    }

    .section-description{
        margin: 1rem 2rem;
    }

    .row .img-box-1, .row .img-box-2, .row .img-box-3, .row .img-box-4, .row .img-box-5, .row .img-box-6, .row .img-box-7, .row .img-box-8{
        width: 100%;
        height: 176px;
        border-radius: 1rem;
        margin: 0.5rem auto;
        background-size: cover;
    }

    /* why choose us */
    
    .section-description{
        margin: 1rem 0;
    }

}