@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Common styles */

body{
    font-family: 'Mulish', sans-serif;
    
}

header, section{
    max-width: 1170px;
    margin: 0 auto;
}

section{
    margin: 6.25rem auto;
}

.orange-text{
    color: #FF5400;
}

.btn-orange{
    padding: 1rem 4rem;
    border: 0;
    background-color: #FF5400;
    color: #fff;
    padding: 1rem 2.5rem;
    color: #fff;
    border-radius: 0.5rem;
    font-size: 1.25rem;
    font-weight: 800;
    margin-top: 1rem;
}

.section-title{
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
}

.section-description{
    font-weight: 1rem;
    font-weight: 400;
    color: rgba(19, 19, 24, 0.70);
    /* margin-bottom: 1rem; */
    max-width: 40rem;
    margin: 1rem auto 3rem;
}

/* Navbar styles */

header{
    margin: 3rem auto;
    
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid red; */
    padding-bottom: 3rem;
}

.nav-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-logo h1{
    font-size: 2.25rem;
    font-weight: 800;
}

.nav-items{
    display: flex;
    justify-content: space-between;
}

.nav-items a{
    text-decoration: none;
    color: #424247;
    font-size: 18px;
    font-weight: 700;
    margin-left: 44px
}


/* Banner styles */

.banner{
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/Group\ 13\ \(1\)\ \(1\).png') no-repeat center;
    max-width: 1170px;
    height: 500px;
    border-radius: 16px;
    text-align: center;
}

.banner-text{
    color: #fff;
    margin: 0 auto;
    padding: 6.6rem 15.5rem;
}

.banner-text h1{
    font-size: 4rem;
    font-weight: 800;
}

.banner-text p{
    font-size: 1rem;
    font-weight: 400;
}

.banner-form{
    display: flex;
    justify-content: center;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    max-width: 72%;
    margin: 0 auto;
}

.banner-form .banner-input{
    width: 11rem;
    height: 3.5rem;
    border-radius: 8px;
    margin: 1rem;
    /* color: rgba(19, 19, 24, 0.50); */
    font-size: 1rem;
    font-weight: 400px;
    padding: 1rem;
}

.banner-form .btn-orange{
    color: #fff;
}

/* Popular Tours Section */

.popular-tours{
    display: flex;
    gap: 3.25rem;
}



.section-text{
    font-weight: 1rem;
    font-weight: 400;
    color: rgba(19, 19, 24, 0.70);
    margin-bottom: 1rem;
    max-width: 40rem;
}

.popular-tours ul{
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
}

.popular-tours ul li{
    margin: 1rem auto;
}

/* Destination Section */

.destination{
    text-align: center;
}

/* Collage */

.row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    height: 300px;
}

.row .img-box h2{
    font-size: 1.75rem;
    font-weight: 800;
    color: #fff;
}

.row .img-box-7{
    background: url('../Images/Rectangle\ 10.png') no-repeat center;
    width: 673px;
}
.row .img-box-6{
    background: url('../Images/Rectangle\ 11.png') no-repeat center;
    width: 473px
}
.row .img-box-5{
    background: url('../Images/Rectangle\ 9.png') no-repeat center;
    width: 274px
}
.row .img-box-4{
    background: url('../Images/Rectangle\ 7.png') no-repeat center;
    width: 474px
}
.row .img-box-3{
    background: url('../Images/Rectangle\ 6.png') no-repeat center;
    width: 374px
}
.row .img-box-2{
    background: url('../Images/Rectangle\ 8.png') no-repeat center;
    width: 573px
}
.row .img-box-1{
    background: url('../Images/Rectangle\ 5.png') no-repeat center;
    width: 573px
}

.row .img-box{
    display: flex;
    justify-content: center;
    align-items: center;
}


.row .img-box img{
    width: 100%;
}



